
<h1> Welcome Player 1! What is your name? </h1>
<form action = '/game' method = 'post'>
  <label for = "name">Name</label>
 <input type = "text" name="name"></input>
 <input type = "submit" value = "Submit"></input>
  </form>
