
<h1> Player 1 chose:  <%= @choice %></h1>
<h1> Player 2 chooses: <%= @choice2 %></h1>
<h1> The winner is </h1>

<!-- <form  action='/win' method="post">
    <button type="button">Click Me!</button>
</form> -->
